* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: black;
  color: white;
}

.box {
  display: grid;
  grid-template-rows: 1fr 3fr;
  min-height: 100vh;
}

.port {
  background-color: #374673;
}

.pnl-container {
  background-image: linear-gradient(#283456, #1f2841);
}

.coin {
  background-image: linear-gradient(#354170, #2a3458);
  margin: 1rem;
  height: 10vh;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  box-shadow: 0px 10px 5px 5px rgba(0, 0, 0, 0.05);
}

.icon {
  background-image: linear-gradient(#303a67, #283055);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.coin-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.coin-detail-1 {
  display: grid;
}

.coin-detail-2 {
  display: grid;
}

.coin-name {
  font-weight: 600;
  font-size: 1.5rem;
}
